:root
{
	--white: #ffffff;
	--mineshaft: #333333;
	--carnation: #fa5c58;
	--gray: #808080;
	--nobel: #b3b3b3;
	--alabaster: #fbfbfb;
	--aquahaze: #f1f4f7;
	--montserrat: "MontserratRegular", sans-serif;
	--lora: "LoraRegular", serif;
	--fontawesome: "FontAwesome", serif;
}
